.wrapper__main_chat
  .wrapper__main_chat__group-info
    .wrapper__main_chat__group-info__1  
      .wrapper__main_chat__group-info__1__2
        %p.name1
          = @group.name
        %ul.name2
          Member：
          %li.test
            - @group.users.each do |user|
              = user.name
      .wrapper__main_chat__group-info__1__3
        = link_to "Edit", edit_group_path(@group) , class:"edit-btn"
        
  .wrapper__main_chat__message-list
    = render @messages

  .wrapper__main_chat__message-form
    .new_message
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          .input-box__image
            = f.label :image, class: 'input-box__image__file' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit-btn'




