.wrapper__side_bar
  .wrapper__side_bar__user-name
    .wrapper__side_bar__user-name__1
      .wrapper__side_bar__user-name__1__2
        .wrapper__side_bar__user-name__1__2__3
          = current_user.name
        .wrapper__side_bar__user-name__1__2__4
          = link_to new_group_path() , class: "wrapper__side_bar__user-name__1__2__4__btn" do
            = icon('far', 'edit', class: "wrapper__side_bar__user-name__1__2__4__btn--icona") 
          = link_to edit_user_path(current_user), class: "wrapper__side_bar__user-name__1__2__4__btn" do
            = icon('fas', 'cog', class: "wrapper__side_bar__user-name__1__2__4__btn--iconb") 
  .wrapper__side_bar__group-list
    .wrapper__side_bar__group-list__1
      - current_user.groups.each do |group|
        .group
          = link_to '#',class: "group-line" do 
            %p.group1 
              = group.name  
            %p.group2 
              メッセージはまだありません
 
