.header01
  .header01__logo1
    .top
      = link_to "Tell me about me !", root_path, class: 'post'
  .header01__logo2
    -# .about
    -#   = link_to "このサービスについて", users_about_path, class: 'post'
    .user
      = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'post'
      = link_to "トップページに戻る", root_path, class: 'post'

.wrapper
  = render 'messages/side_bar'
  .video
    = video_tag("/videos/motion_drop.mp4", autoplay: true, loop: true, muted: true, class: 'content__box__video')
    